
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
        font-family: Arial, sans-serif;
        background: linear-gradient(to bottom, #090979, #1b1683, #20c8eb  );
}



.dashboard{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dashboard-form{
    background-color: #444;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 300px;
    text-align: center;
}

button[type="submit"] a {
    color: white;
    text-decoration: none; 
}


.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    background-color: lightseagreen;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 300px;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #777;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
}

button {
    padding: 10px 20px;
    background-color: #069;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #04aa6d;
}

p {
    text-align: center;
    margin-top: 15px;
}

a {
    color: #069;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #04aa6d;
}
