body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 150vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #3498db, #e74c3c, #2ecc71, #f39c12);
  background-size: 600% 600%;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#product-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 20px;
  text-align: center;
  font-family: arial;
  background-color: #fff;
  padding: 15px;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

#cart-symbol {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #000;
  color: white;
  padding: 5px 10px;
  border-radius: 50%;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  #product-container {
    padding: 10px;
  }

  .card {
    max-width: 100%;
    margin: 10px 0;
  }
}
